@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');





body {
    font-family: 'Kalam', cursive;
}

.ul-list {
    max-width: 75%;
}

.budget {
    max-width: 75%;
}